@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Young Serif', serif;
    color: white;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    width: 100%;
    height: 10%;
    background-color: rgba(255, 0, 0, 0.832);
    display: none;
}

header ul {
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

header ul li button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

header ul li button:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
}

.card {
    border: 1px solid black;
    border-radius: 10px;
    width: 400px;
    height: 524px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px 10px;
    box-shadow: 0px 0px 6px black;
    position: relative;
}

#campo {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    justify-content: space-evenly;
    background: fixed;
    position: relative;
}

.card:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
}

.skill-icon {
    width: 50px;
}

.skill-lists {
    padding: 0px 10px;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    bottom: 0px;
}

.agent-img {
    width: auto;
    height: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.agent-name {
    font-size: 20px;
    padding: 10px 0px;
}

.agent-descricao {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 15px;
    z-index: 0;
}

.agent-descricao-text {
    text-align: center;
    color: black;
    padding: 0px 40px;
}

.button-descricao:hover {
    color: gray;
    border: 1px solid gray;
}

.button-descricao {
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 15px;
    padding: 3px;
    z-index: 1;
    box-shadow: 0px 0px 5px black;
    border: 1px solid black;
    cursor: pointer;
    width: 90px;
}

@media (min-width: 320px) and (max-width: 1200px) {

    .card {
        border: 1px solid black;
        border-radius: 10px;
        max-width: 300px;
        max-height: 400px;
        padding: 10px;
    }


}